.full-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
}
.container {
    height: 500px;
    width: 500px;
    display: flex;
    border-width: 1px;
    border-color: rgb(160, 157, 157);
    border-radius: 3px;
    border-style: solid;
    /*flex-wrap: wrap;*/
}

.row {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.column {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.left-pane {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header p {
    text-align: center;
    margin-bottom: 0px;
}

.btncolor {
    font-family: monospace;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    padding: 10px 30px 10px;
    color: rgb(243, 246, 248);
    background-color: rgb(153, 175, 172);
}

.btnclear {
    font-family: monospace;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    padding: 10px 30px 10px;
    color: rgb(243, 246, 248);
    background-color: rgb(153, 175, 172);
}

.clicked {
    font-family: monospace;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    padding: 10px 30px 10px;
    color: rgb(243, 246, 248);
    background-color: rgb(83, 104, 104);
}